.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #091b26;
    flex-wrap: wrap;
}

.socialMedia {
    display: flex;
    justify-content: space-around;
}

.image16 {
    width: 16%;
}

h1 {
    flex-direction: row;
    color: white;
    font-family: 'Montserrat', Verdana, sans-serif;
    text-transform: uppercase;
}

h1:hover
{
	transition: background-color 0.3s ease;
	color:#00adef;
}

/*BOOK NOW BUTTON*/

.bookText {
    font-weight: bold;
    color: black;
    border: 0px solid #ffd800;
    border-radius: 15px;
    background: #ffd800;
    padding: 18px 30px 18px 30px;
    margin: 12px 0px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

.bookText:hover {
    transition: background-color 0.3s ease;
    background-color: #00adef;
    color: white;
}


/*END OF BOOK NOW BUTTON*/
