@import url("../index.css");
.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: var(--backgroundMain);
}

.nav .navFelxContainer {
    justify-content: space-around;
    flex-direction: row-reverse;
}

.nav h1 {
    color: var(--text-color);
    font-size: calc( 1vh + 1vw);
}

.nav h1:hover {
    color: white;
}

.nav .button {
    margin: 2vh;
    color: var(--text-color);
    border-width: 1.5px;
    border-style: solid;
    border-color: var(--text-color);
    padding: 1.5vh;
    margin-right: 1vh;
    margin-left: 1vh;
    border-radius: 15px;
    width: 11vw;
    text-align: center;
}

.nav .button:hover {
    color: white;
    background: var(--orange);
    transition: .3s ease;
    border-style: solid;
    border-color: var(--orange);
    border-radius: 15px;
}

.nav .logo {
    width: 8vw;
    height: 8vw;
}

.nav a {
    text-decoration: none;
}

.nav .navContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    
}

.nav .buttonContainer
{
    display: flex;
    flex-direction: row;
    width: 40%;
}
